<html>

<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='index_styles.css') }}">
  <script src="{{ url_for('static', filename='jquery-3.7.1.js') }}"></script>
  <script src="{{ url_for('static', filename='celestrack.js')}}"></script>
</head>

<body>
  <div>

    <h1>Aerospace Application!</h1>
  </div>
  <div>
    <p>welcome to the aerospace project. This is going to predict deltaV figures for an optimal path between satellites for the purposes of space debris removal</p>
    <p>At the moment this is in construction. There is no logic. There is no backend. But the success is that we are now running in Flask!</p>
    <button type="button" id="test">Celestrack GET!</button>
  </div>
</body>

</html>